body {
  background-color: MistyRose;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
main-nav {
  float: left;
  width: 100px;
  background-color: Thistle;
}
#main-nav ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left: 50%;
}
nav ul li a:hover {
  color: Black; 
  background-color: HotPink; 
  text-decoration: underline; 
}
main-nav ul li {
  float: left;
  position: relative;
  right: 50%;
}
h1 {
  top: 20px;
  font-size: 3em;
  font-family: 'Georgia', cursive;
  color: Black;
  text-align: center;
}
.nav-container {
  display: flex;
  justify-content: center;
  unicode-bidi: isolate;
  background-color: Plum;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px;

}
main-nav ul li a {
  padding: 10px 25px;
  display: block;
  color: Plum;
}
.navigation ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  color: black;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 20px;
}

.navigation ul li {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
  background-color: Plum; 
}
